<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhh.clouddisk.mapper.MyFileMapper">

    <cache type="org.mybatis.caches.ehcache.EhcacheCache"></cache>

    <sql id="insertFileColumn">
        <if test="myFileName != null and myFileName != ''">
            my_file_name,
        </if>
        <if test="fileStoreId != null">
            file_store_id,
        </if>
        <if test="myFilePath != null">
            my_file_path,
        </if>
        <if test="parentFolderId != null">
            parent_folder_id,
        </if>
        <if test="size != null">
            size,
        </if>
        <if test="type != null">
            type,
        </if>
        <if test="postfix != null">
            postfix,
        </if>
    </sql>

    <sql id="insertFileValue">
        <if test="myFileName != null and myFileName != ''">
            #{myFileName},
        </if>
        <if test="fileStoreId != null">
            #{fileStoreId},
        </if>
        <if test="myFilePath != null">
            #{myFilePath},
        </if>
        <if test="parentFolderId != null">
            #{parentFolderId},
        </if>
        <if test="size != null">
            #{size},
        </if>
        <if test="type != null">
            #{type},
        </if>
        <if test="postfix != null">
            #{postfix},
        </if>
    </sql>

    <sql id="updateList">
        <if test="myFileName != null and myFileName != ''">
            my_file_name = #{myFileName},
        </if>
        <if test="fileStoreId != null">
            file_store_id = #{fileStoreId},
        </if>
        <if test="myFilePath != null and myFilePath != ''" >
            my_file_path = #{myFilePath},
        </if>
        <if test="downloadTime != null">
            download_time = #{downloadTime},
        </if>
        <if test="parentFolderId != null">
            parent_folder = #{parentFolderId},
        </if>
        <if test="size != null">
            size = #{size},
        </if>
        <if test="type != null">
            type = #{type},
        </if>
        <if test="postfix != null">
            postfix = #{postfix},
        </if>
    </sql>

    <insert id="insertFile" keyProperty="myFileId" useGeneratedKeys="false">
        insert into my_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="insertFileColumn"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="insertFileValue"/>
        </trim>
    </insert>

    <delete id="deleteFileByMyFileId">
        delete from my_file where my_file_id = #{myFileId}
    </delete>

    <update id="updateFile">
        update my_file
        <set>
            <include refid="updateList"></include>
        </set>
        where my_file_id = #{myFileId}
    </update>

    <delete id="deleteFileByParentFolderId">
        delete from my_file where parent_folder_id = #{parentFolderId}
    </delete>

    <select id="queryFileByMyFileId" resultType="com.hhh.clouddisk.entity.MyFile">
        select * from my_file where my_file_id = #{myFileId}
    </select>

    <select id="queryFileByMyFileName" resultType="com.hhh.clouddisk.entity.MyFile">
        select * from my_file where my_file_name = #{myFileName}
    </select>

    <select id="queryRootFileByFileStoreId" resultType="com.hhh.clouddisk.entity.MyFile">
        select * from my_file where file_store_id = #{fileStoreId} and parent_folder_id = 0
    </select>

    <select id="queryFileByParentFolderId" resultType="com.hhh.clouddisk.entity.MyFile">
        select * from my_file where parent_folder_id = #{parentFolderId}
    </select>

    <select id="queryFileByType" resultType="com.hhh.clouddisk.entity.MyFile">
        select * from my_file where file_store_id = #{fileStoreId} and type = #{type}
    </select>

    <select id="getCountStatistics" resultType="com.hhh.clouddisk.entity.FileStoreStatistics">
        select sum(type = 1) doc,sum(type = 2) image,sum(type = 3) video,
      sum(type = 4) music,sum(type = 5) other,count(*) fileCount from my_file
      where file_store_id = #{fileStoreId}
    </select>

</mapper>